* {
    margin: 0;
    padding: 0;
}
#themeSwitch {
    width: 208px;
    height: 48px;
    font-size: 24px;
}
body {
    font-size: 24px;
    color: black;
}
body.dark {
    background-color: rgb(37, 35, 35);
    color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(247, 247, 247);
}
.logo {
    height: 80px;
}
nav a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
}


.resp_menu_box.is-open {
    transform: translateX(0);
}

.menuLink:hover{
    color: lightgreen;
    transition: 150ms;
    transform: 1 2 ;
}
.currentMenuLink {
    color: green;
    text-decoration: underline;
}
.currentMenuLink:hover {
    color: lightgreen;
    transition: 150ms;
    transform: 1 2 ;
}
#zuRezepte {
    
    margin-left: 120px;
}
#zuRezepte a {
    text-decoration: none;
}
.gerichtHeader {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 24px;
}
.gerichtHeader img{
    border: 2px solid black;
}
.rezeptImg {
    display: flex;
    max-width: 700px;
    border-radius: 4%;
}
.calculate {
    display: flex;
    padding-left: 120PX;
    margin: 8px;
}
.zutaten input {
    text-align: center;
}
#zutatenListe {
    list-style: none;
    display: grid;
    gap: 5px;

}
#zutatenListe {
    display: flex;
    flex-direction: column;
    text-align: left;

    margin-left: 120px;
    margin-right: 120px;
    background: #eeeeef;
    border-radius: 12px;
    padding: 3px 20px;
    color: #383737;
    font-size: 16px;
    line-height: 1.4;
    min-height: 44px;
    
}




.portionenInput {
    display: flex;
}
.portionen {
    background-color: green;
    color: white;
}
.zubereitung {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 46px;
}
.icon_2 {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
   
}
.icon_img {
    width: 20px;
    height: 20px;

}

.icon_txt {
    display: flex;
    gap: 8px;
    align-items: center;
    color: black;
    font-family: 'Raleway';
    font-weight: 500;
}

p {
    padding-right: 20px;
}

.profileSection {
     margin-top: 40px;
     padding-left: 120px;
}
.profile {
    display: flex;
    justify-content: flex-start;
    align-items: anchor-center;
    gap: 20px;
    margin-bottom: 60px;
   
}

h3 {
    margin-bottom: 30px;

}

.profile_pic {
    border-radius: 50%;
}

footer {
    background-color: #333;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 14px;
    margin: 0 -8px -8px -8px;
    padding-top: 60px;
}