* {
    padding: 0;
    margin: 0px;
    scroll-behavior: smooth;
}


html,
body {
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
    overflow-y: auto;

}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Raleway", sans-serif;
}


.aot {
    width: 100dvw;
}





.logo {
    width: 200px;
    height: auto;
    margin-left: 120px;
}


.headerStart {
    display: flex;
    justify-content: center;
}




.contentmax {
    max-width: 1440px;
}

.contentmaxhead {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1280px;
    width: fit-content;
    flex: 1;
}





header {
    box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 4%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}






.normal_links {
    display: flex;
    gap: 35px;
    margin-right: 60px;
    /* vorher 120px */
}


.navlinks {
    font-family: "Raleway", sans-serif;
    gap: 10px;
    margin-right: 120px;
    padding-left: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
}





.nav-group {
    display: flex;
    gap: 20px;
}

.burger {
    display: none;
}



a:hover {
    color: #3caf22;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* füllt den Platz zwischen Header und Footer */
}



h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 60px;
    color: #333;
    display: block;
    margin-bottom: 20px;
}




.main a {
    text-decoration: none;
    color: black;
}


.h1-wrapper {
    margin-top: 40px;
    /* schiebt H1 nach unten */
    margin-bottom: 40px;
    text-align: center;
}







.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 15px;
    padding: 2px;
    max-width: 1170px;
    margin: 10px auto;

}

.gallery img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

.gallery img:hover {
    transform: scale(1.05);
}





.rezept-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: flex-start;
    gap: 20px;
    margin: 120px auto;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rezept-card img.gericht-bild {
    width: 400px;
    height: auto;
    border-radius: 12px;
}

.rezept-info {
    flex: 1;
    /* Textbereich nimmt restliche Breite ein */
}

.rezept-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2a7b2a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.rezept-button:hover {
    background-color: #1f5c1f;
}


.-contentposition {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}






/*bandnudel-rezept.html */

.rezept-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    gap: 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
}




/* start .rezept-container img */
.rezept-container .hero {
    width: 1200px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.iconFeld {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
}



.iconBox {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* Icon und Text vertikal zentrieren */
    gap: 10px;
    /* Abstand zwischen Icon und Text */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.iconBox img {
    width: 30px;
    /* Größe der Icons */
    height: 30px;
    object-fit: contain;
    margin-bottom: 6px;
}

.iconBox span {
    font-size: 24px;
    color: #000000;
}




.portionChanger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 25px; */
    margin-top: 60px;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;

}

.impr_txt {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.kontaktFeld {
    background-color: gainsboro;
    width: 500px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 150px;
    margin-bottom: 150px;
    align-items: center;
    border-radius: 3%;
    display: flex;
    justify-content: center;
}


.impressumListe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.impressumh1 {
    margin-left: 0px;
    margin-bottom: 50px;
}

.portionChanger input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;

}

.inputFeld input:focus {
    border-color: #f9c907;
    /* Akzentfarbe beim Fokus */
    box-shadow: 0 0 5px rgba(255, 123, 0, 0.3);
}



.changerBtn {
    padding: 10px 30px;
    background-color: #486c35;
    /* orangener Button */
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.inputFeld button:hover {
    background-color: #f9c907;
    /* dunkler beim Hover */
}






.zutatenFeld {
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 0;

}

.zutatenFeld h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.zutatenBox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;

}

.textart {
    font-family: "Raleway", sans-serif;
}

.zutatenBox.grau {
    background-color: #f0f0f0;
    border-radius: 7px;
    font-family: sans-serif;
}

.zutatenBox.weiss {
    background-color: #ffffff;
    font-family: sans-serif;
}

.zutatenBox .menge {
    font-weight: bold;
    width: 64px;
    text-align: right;
}

.zutatenBox .zutatName {
    font-size: 16px;
}

.iconFeld2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;

}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


.profile_img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
}


/*bandnudel-rezept.html Seite*/

footer {
    background-color: #333;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 60px;
    width: 100%;
    gap: 18px;
}

footer a {
    text-decoration: none;
    color: white;
}






.order_list {
    font-weight: 800;
}




.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.content {
    position: relative;
    width: 100%;
}





header a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a:hover {
    color: #3caf22;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;


}




.txtcolor {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

.image-container {
    width: calc(100% - 120px);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 50px;
}

.image-container img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
    margin-right: 120px;
    border-radius: 8px;
}

.image-container img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submitbtn {
    background-color: #226c11;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    height: 22px;
    font-weight: lighter;


}

.subpage {
    width: 100%;
}


li {
    margin-left: 25px;
    margin-right: 25px;
}



button {
    font-size: 20px;
    border-radius: 5px;
    background-color: #d6dbd5;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 4px;
    display: flex;
    justify-content: flex-start;

}

.btn1 {
    margin-left: 120px;
}

.img_btn {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 120px;
    box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 4%);
}

.icon_img {
    width: 20px;
    height: 20px;

}

.icon_txt {
    display: flex;
    gap: 8px;
    align-items: center;
    color: black;
    font-family: 'Raleway';
    font-weight: 500;
}

p {
    font-weight: 800;
}

.position_zutaten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.portionChanger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
    /* padding-left: 80px; */
}


.portionChanger input {
    /* Input füllt den freien Platz */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;

}

.inputFeld input:focus {
    border-color: #f9c907;
    /* Akzentfarbe beim Fokus */
    box-shadow: 0 0 5px rgba(255, 123, 0, 0.3);
}



.changerBtn {
    padding: 10px 30px;
    background-color: #486c35;
    /* orangener Button */
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.inputFeld button:hover {
    background-color: #cdf907;

}



.zutatenFeld {
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 0;

}

.zutatenFeld h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.zutatenBox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;

}

.zutatenBox.grau {
    background-color: #f0f0f0;
    color: black;
}

.zutatenBox.weiss {
    background-color: #ffffff;
    color: black;
}

.zutatenBox .menge {
    font-weight: bold;
    width: 64px;
    text-align: right;
}

.zutatenBox .zutatName {
    font-size: 16px;
}



#zutatenListe {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 5px;

}

.beschreibung {
    margin-top: 30px;

    margin-right: 120px;
}

.icon_2 {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: anchor-center;
    gap: 20px;
    margin-bottom: 60px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;

}

.profile_pic {
    border-radius: 50%;
}





.btn_smallsize {
    display: none;
}



.resp_menu_box {
    display: inline;
    width: 133px;
    height: 206px;
    font-size: smaller;
}





.btn_menu2 {
    right: -6px;
    top: -42px;
    width: 136px;
}



.recipe-Presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* Abstand zwischen Bild und Text */
    max-width: 1440px;
    /* Begrenzung auf Bildschirmgröße */
    margin: 0 auto;
    padding: 40px 20px;

}

.recipe-image img {
    width: 500px;
    /* feste Bildgröße laut Vorgabe */
    height: auto;
    border-radius: 3%;
}

.recipe-info {
    max-width: 500px;
    /* sorgt für gleiche Proportionen */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-info h2 {
    font-size: 28px;
    margin: 0;
}

.recipe-info p {
    line-height: 1.5;
    color: #333;
}

.rezept-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.rezept-button:hover {
    background-color: green;
}


.message-field1 {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #d7d7d7;
    width: 100dvw;
}

/* Überschrift */
.message-field1 h2 {
    margin-bottom: 30px;
    color: #000000;
}

/* Bildreihe */
.message-field1 .image-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 70px;
}

/* Bilder selbst */
.message-field1 .image-row img {
    width: 300px;
    /* vorher 400px → jetzt größer */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


.message-field1 .image-row img:hover {
    transform: scale(1.05);
}

/* Absatz unter den Bildern */
.message-field1 p {
    font-size: 1.1em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}



.message-field2 {
    display: flex;
    justify-content: center;
    /* zentriert horizontal */
    align-items: center;
    /* vertikal mittig */
    gap: 130px;
    /* Abstand zwischen Text und Bild */
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Textbereich */
.message-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.message-content h2 {
    color: #000000;
    font-size: 28px;
    margin-bottom: 10px;
}

.message-content p {
    color: #000000;
    line-height: 1.5;
}

/* Bildbereich */
.message-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}










/* Kontaktseiten Spezifikationen */
#kontaktSeite {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* statt center */
    background-image: url('./img/wok.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* ganzer Bildschirm */
    padding-top: 50px;
    /* Abstand vom Header nach oben */
    padding-bottom: 50px;
    /* Abstand zum Footer */
    box-sizing: border-box;
}



form {
    color: black;
}

#kontaktFeld {
    background-color: gainsboro;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    border-radius: 3%;
}

form textarea {
    width: 400px;
    padding-bottom: 5px;
    display: flex;
}

form input {
    width: 400px;
    padding-bottom: 5px;
    display: flex;

}

.deinName {
    padding-bottom: 5px;
    border-radius: 5px;
}

.deineEmail {
    padding-bottom: 5px;
    border-radius: 5px;
}

.deineNachricht {
    border-radius: 5px;
    padding-bottom: 5px;
}

.abschicken {
    padding: 8px;
    margin-top: 50px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
}






/*datenschutz.html*/
.datenschutz {
    display: flex;
    flex-direction: column;
}

.h1_datenschutz {

    margin-left: 0px;
}



.datenschutzKlasse {
    color: white;
}







.burger-toggle {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -9999px;
    /* ganz weit aus dem sichtbaren Bereich */
}


.burger {
    display: none;
    /* wird erst bei Mobile angezeigt */
}








/* Tablet responsive:*/
@media (max-width: 1280px) and (min-width: 930px) {


    .rezept-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 20px;
        /* max-width: 1200px; */
        margin: 0 auto;
    }


    .aot {
        width: 70dvw;
    }



    .logo {
        width: 150px;
        margin-left: 60px;
    }


    .normal_links {
        gap: 15px;
        margin-right: 60px;
    }


    h1 {
        font-size: 40px;
        text-align: center;
    }


    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }


    .recipe-Presentation {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .recipe-image img {
        width: 400px;
    }

    .recipe-info {
        max-width: 400px;
    }


    .rezept-container {
        padding: 20px;
        max-width: 700px;
        margin: 0 auto;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .rezept-container .hero {
        width: 100%;
        max-width: 700px;
        height: auto;
    }

    .rezept-container h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 12px;
    }

    .iconFeld {
        display: flex;
        flex-wrap: nowrap;
        /* Icons nebeneinander bleiben */
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
        max-width: 500px;
        /* begrenzt die Breite */
        margin: 20px auto 0 auto;
    }

    .iconBox {
        flex: 0 1 auto;
        /* schrumpft bei Bedarf */
        padding: 6px 12px;
    }

    .iconBox img {
        width: 25px;
        height: 25px;
    }

    .iconBox span {
        font-size: 20px;
    }


     .beschreibung {
        margin-top: 20px;
        margin-right: 0;       
        display: flex;
        flex-direction: column;
        align-items: center;   
    }





    .message-field1 .image-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .portionChanger {
        width: 100%;
        gap: 15px;
    }

    .zutatenFeld {
        max-width: 700px;
    }




    footer {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 10px;
        height: 60px;
    }




    .datenschutz-container {
        width: 95%;
        padding: 15px;
        margin: 50px auto;
    }

    .datenschutz-container h1 {
        font-size: 24px;
    }

    .datenschutz-container p {
        font-size: 14px;
    }

}





/* Mobile responsive: */
@media (max-width: 929px) and (min-width: 320px) {


    .rezept-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 20px;
        /* max-width: 1200px; */
        margin: 0 auto;
    }


    .aot {
        width: 60dvw;
    }

    /* Logo verkleinern */
    .logo {
        width: 120px;
        margin-left: 20px;
    }

    /* Navigation standardmäßig verstecken */
    .nav-group {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .normal_links {
        display: none;
        /* Desktop-Nav ausblenden */
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        cursor: pointer;
        margin-left: auto;

    }

    .burger span {
        display: block;
        height: 3px;
        background: black;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .burger-toggle {
        display: none;
    }


    .nav-group {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;

    }

    /* Checkbox aktiviert → Menü anzeigen */
    .burger-toggle:checked+.burger+.nav-group {
        display: flex;
    }

    /* Animation Burger  */
    .burger-toggle:checked+.burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger-toggle:checked+.burger span:nth-child(2) {
        opacity: 0;
    }

    .burger-toggle:checked+.burger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }




    /* H1 Schriftgröße ändern */
    h1 {
        font-size: 30px;
        text-align: center;
    }

    /* Gallery Anpassung */
    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /* Recipe Presentation */
    .recipe-Presentation {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .recipe-image img {
        width: 100%;
        max-width: 400px;
    }

    .recipe-info {
        max-width: 300px;
    }


    .portionChanger {
        width: 90%;
        flex-direction: column;
        gap: 10px;
    }







    rezept-container {
        padding: 15px;
        max-width: 95%;
        margin: 0 auto;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .rezept-container .hero {
        width: 100%;
        height: auto;
    }

    .rezept-container h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .iconFeld {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-width: 600px;
        /* margin: 15px auto 0 auto; */
    }

    .iconBox {
        flex: 0 1 auto;
        padding: 4px 8px;
    }

    .iconBox img {
        width: 20px;
        height: 20px;
    }

    .iconBox span {
        font-size: 16px;
    }



      .beschreibung {
        margin-top: 10px;      
        margin-right: 0;       
        display: flex;
        flex-direction: column;
        align-items: center;   
        width: 90%;            
        margin-left: auto;     
        margin-right: auto;    
    }



    /* Optional: Textbereiche oder Buttons kleiner skalieren */
    .rezept-info {
        width: 100%;
    }

    .rezept-button {
        padding: 8px 15px;
        font-size: 14px;
    }


    .iconBox img {
        width: 20px;
        height: 20px;
        margin-bottom: 0;
    }


    .iconBox {
        padding: 4px 6px;
        /* kleinere Box */
        gap: 0px;
        /* Abstand Icon/Text verringern */
    }


    .zutatenFeld {
        max-width: 300px;
        width: 90%;
    }


    footer {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 10px;
        height: 60px;
    }


    .message-field1 .image-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* Nachricht Bilder */
    .message-field1 .image-row img,
    .message-field2 .message-image img {
        width: 300px;
    }


    .message-field2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;

    }


    #kontaktFeld {
        width: 90%;
        max-width: 350px;
        height: auto;
        padding: 15px;
    }


    form input {
        width: 200px;
        padding-bottom: 5px;
        display: flex;
    }



    form textarea {
        width: 200px;
        height: 200px;
        padding-bottom: 5px;
        display: flex;
    }


    /* Name & E-Mail etwas kleiner */
    #kontaktFeld form input.deinName,
    #kontaktFeld form input.deineEmail {
        width: 60%;
        max-width: 320px;
        margin: 0 auto 10px auto;
    }

    /* Nachricht etwas größer */
    #kontaktFeld form textarea.deineNachricht {
        width: 90%;
        max-width: 400px;
        height: 150px;
        margin: 0 auto;
    }



    .datenschutz-container {
        width: 95%;
        padding: 15px;
        margin: 50px auto;
    }

    .datenschutz-container h1 {
        font-size: 24px;
    }

    .datenschutz-container p {
        font-size: 14px;
    }


}